* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
}

.page {
    max-width: 1280px;
    min-width: 320px;
    margin: 0 auto;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    background-color: #202020;
    color: #fff;
}

.page__container {
    width: 100%;
    min-height: 100vh;
}