.navigation {
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
    width: 100%;
}

.navigation_popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-bottom: 90px;
}

.navigation__movies {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.navigation__movies-popup {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 159px;
    align-items: center;
    height: 100vh;

}

.navigation__header {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    transition: all .2s ease-in-out;
}

.navigation__header:hover {
    opacity: .7;
}

.navigation__header-mainPage {
    display: none;
}

.navigation__popup {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
    transition: all .2s ease-in-out;
    width: fit-content;
}

.navigation__popup:hover {
    opacity: .7;
}

.navigation__link_active {
    font-weight: 500;
}

.navigation__landing {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
}

.navigation__landing-link {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
    color: #fff;
    transition: all .2s ease-in-out;
}

.navigation__landing-link:hover {
    opacity: .7;
}

.navigation__landing-link_green {
    color: #000;
    background-color: #3ddc84;
    width: 76px;
    height: 32px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {

    .navigation__link_active {        
        border-bottom: 2px solid #fff;
        height: 25.78px;
    }

    .navigation__main {
        display: block;
    }

    .navigation__header-mainPage {
        display: block;
    }

    
    @media screen and (max-width: 320px) {
        .navigation__landing {
            gap: 14px;
        }

        .navigation__landing-link {
            font-size: 10px;
        }

        .navigation__landing-link_green {
            width: 54px;
            height: 26px;
        }
    }


}