.filterCheckbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 29px;
}

.filterCheckbox__input {
    appearance: none;
    width: 36px;
    height: 20px;
    background-color: #a0a0a0;
    border-radius: 16px;
    cursor: pointer;
    outline: none;
    position: relative;
    border: none;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .08);
}

.filterCheckbox__input::after {
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    background-color: #fff;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .08);
    transition: all .2s ease-in-out;
}

.filterCheckbox__input:checked {
    background-color: #2be080;
}

.filterCheckbox__input:checked::after {
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    background-color: #fff;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .08);
    transition: all .4s ease-in-out;
    transform: translateX(16px);
}


.filterCheckbox__name {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-left: 12px;
}

@media screen and (max-width: 887px) {
    .filterCheckbox {
        margin-top: 40px;
    }
}

@media screen and (max-width: 360px) {
    .filterCheckbox {
        margin-top: 47px;
    }
}