.about-me {
    padding: 110px 70px 0;
}

.about-me__title {
    margin: 0 0 23px;
    font-size: 22px;
    font-weight: 400;
    line-height: 26.63px;
    letter-spacing: -.04em;
}

.about-me__hr {
    margin: 0;
    height: 1px;
    border: none;
    background-color: #dadada;
}

.about-me__container {
    display: flex;
    justify-content: space-between;
    margin-top: 66px;
    gap: 40px;
}

.about-me__info {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
}

.about-me__info-name {
    margin: 0;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -.04em;
}

.about-me__info-description {
    margin: 18px 0 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
}

.about-me__info-about {
    margin: 26px 0 99px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.about-me__github-link {
    margin-top: auto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-decoration: none;
    color: #fff;
    transition: all .2s ease-in-out;
}

.about-me__github-link:hover {
    opacity: .8;
}

.about-me__photo-container {}

.about-me__photo {
    max-width: 270px;
    width: 100%;
    max-height: 327px;
    height: auto;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .about-me {
        padding: 90px 50px 0;
    }

    .about-me__info {
        max-width: 364px;
    }

    .about-me__container {
        gap: 49px;
    }

    .about-me__info-name {
        font-size: 40px;
        font-weight: 400;
        line-height: 40px;
    }

    .about-me__info-description {
        margin: 16px 0 0;
        font-size: 12px;
        line-height: 18px;
    }

    .about-me__info-about {
        margin: 20px 0 87px;
        font-size: 12px;
        line-height: 18px;
    }

    .about-me__photo {
        display: flex;
        max-width: 255px;
        width: 100%;
        border-radius: 10px;
    }
}


@media screen and (max-width: 460px) {
    .about-me {
        padding: 70px 50px 0;
    }

    .about-me__title {
        margin: 0 0 28px;
        font-size: 18px;
        line-height: 21.78px;
    }

    .about-me__container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        gap: 40px;
        max-height: fit-content;
    }

    .about-me__photo {
        display: flex;
        width: calc(100vw -40px);
        border-radius: 10px;
        object-fit: contain;
    }

    .about-me__info-name {
        font-size: 30px;
        line-height: 36.31px;
    }

    .about-me__info-description {
        margin: 20px 0 0;
        font-size: 11px;
        line-height: 16px;
    }

    .about-me__info-about {
        margin: 20px 0 0;
        font-size: 11px;
        line-height: 16px;
    }

    .about-me__github-link {
        margin-top: 40px;
    }
}


@media screen and (max-width: 320px) {
    .about-me {
        padding: 70px 14px 0;
    }

    .about-me__title {
        margin: 0 0 28px;
        font-size: 18px;
        line-height: 21.78px;
    }

    .about-me__container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        gap: 40px;
        max-height: fit-content;
    }

    .about-me__photo {
        display: flex;
        max-width: 292px;
        border-radius: 10px;
        object-fit: contain;
    }

    .about-me__info-name {
        font-size: 30px;
        line-height: 36.31px;
    }

    .about-me__info-description {
        margin: 20px 0 0;
        font-size: 11px;
        line-height: 16px;
    }

    .about-me__info-about {
        margin: 20px 0 0;
        font-size: 11px;
        line-height: 16px;
    }

    .about-me__github-link {
        margin-top: 40px;
    }
}